.section{
    border: 1px solid black;
    width: 100%;
    height:100%
}
.header1{
    background-color: aliceblue;
    width:100%;
}
.head{
    display:flex;
    padding:1% 1% 1% 2%;
    width:100%;
    column-gap: 5%;
    align-items: center;
}
.anchor{
  text-decoration: none; 
  color: black; 
  font-size: larger;
}
.input{
    padding:1% 0% 1% 1%;

}
.input1{
    padding:1% 1% 1% 0%;

}
.search{
display: flex;
column-gap: 4%;
}
.account{
width: 25%;
background-color: rgb(173, 175, 178);
color: black;
padding:1% 70% 1% 5%;
}
.table{
    padding:3% 3%;
    width:94%;
    display: flex;
    column-gap: 5%; 
}
.tab1{
display: flex;
width:40%;
row-gap: 2%;
border:1px solid black;
height:50%;
font-size: x-large;
text-align: center;
}
.data1{
    display: flex;
    column-gap: 5%;
    width:340%;
border:1px solid black;
}
.anchor1{
    text-decoration: none; 
  color: black; 
    font-size: medium;
}
.tab2{
    display: flex;
    width:50%;
    row-gap: 2%;
    border:1px solid black;
    height:55%;
    font-size: medium;     
}.data2{
    display: flex;
    column-gap: 5%;
    width:100%;
border:1px solid black;
}
.data3{
    display: flex;
    column-gap: 5%;
    width:340%;
border:1px solid black;
background-color: rgb(15, 120, 85);
}
.data4{
    display: flex;
    column-gap: 5%;
    width:100%;
border:1px solid black;
background-color: rgb(173, 175, 178);
}
.id{
    background-color: rgb(122, 194, 159);
    width: 100%;
    align-items: center;
}
.id1{
    display: flex;
    column-gap: 15%;
    padding: 1% 3%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    width:100%;
}
.mail{
   display: flex; 
   column-gap: 1%;
   width: 20%;
}
.email{
    display: flex;
}
button{
    background-color: black;
    color: aliceblue;
}
.border{
    padding:2% 2% 2% 2%;
    background-color: aliceblue;
    width:95%
}
.tables{
    display: flex;
    column-gap: 5%;
}
.icons{
    display: flex;
}
.footer{
    display: flex;
    column-gap: 80%;
}

