/* .thrisha{background-color: rgb(245, 245, 242);} */

/* header{
    display:flex;
 justify-content: space-between; 
align-items: center;
     width:100%;
}  */
/* .order{
    list-style: none;
     display: flex;
      padding: 0% 0%; 
      width: 100%;
      background-color: black;
} */
/* .section1{
    row-gap: 2%;
}
section{
    width: 100%;}
header{
    width:100%;
    background-color: aliceblue;
    color:black;
} */
/* .hi{
    padding: 0px 20px;   
}
.hello{
    text-decoration: none;
     color: rgb(12, 12, 12);
      font-size: large;  
} */
/* .button{
    width:100%;
    font-size:larger ;
    background-color: black;
    color: white;
}
.card1{
    width:100%;
    display: flex;
    column-gap: 2%;
    padding: 0% 2% 0% 2%;
}
.card2{
    display:flex;
    border: 1px solid black;
    width: 20%;
    height: 20%;
    padding: 0% 0% 1% 1%;
}
.card3{
    display: flex;
    column-gap: 10%;
} */