.section{
    height:100%;
    width: 60%;
    padding:3% 15%;
}
.header1{
    background-color: white;
    width:100%;
}
.head{
    display:flex;
    padding:1% 1% 1% 1%;
    width:80%;
    column-gap: 3%;
    align-items: center;
}
.anchor{
  text-decoration: none; 
  color: black; 
  font-size: larger;
}
.input{
    padding:1% 0% 1% 1%;

}
.input1{
    padding:1% 1% 1% 0%;

}
.search{
display: flex;
column-gap: 4%;
}
.account{
width: 110%;
background-color: rgb(173, 175, 178);
color: black;
padding:1% 1% 1% 1%;
/* padding-left: 20%; */
}
.table{
    padding:3% 3%;
    width:80%;
    height:120%;
    display: flex;
    column-gap: 30%; 
    padding-bottom: 10% ;
}
.tab1{
display: flex;
width:15%;
/* row-gap: 2%; */
/* border:1px solid black; */
height:120%;
font-size: x-large;
text-align: center;
padding-left: 15%;
}
.data1{
    display: flex;
    column-gap: 5%;
    width:110%;
    height:20%;
border:1px solid black;
}
.anchor1{
    text-decoration: none; 
  color: black; 
    font-size: medium;
}
.tab2{
    display: flex;
    width:60%;
    row-gap: 2%;
    height:10%;
    font-size: medium;
    padding-top: 3% ; 
    /* padding-bottom: 5% ;  */
}
.data2{
    display: flex;
    column-gap: 5%;
    width:120%;
border:1px solid black;
}
.data3{
    display: flex;
    column-gap: 5%;
    width:110%;
    height: 20%;
border:1px solid black;
background-color: rgb(15, 120, 85);
}
.data4{
    display: flex;
    column-gap: 5%;
    width:120%;
border:1px solid black;
background-color: rgb(173, 175, 178);
}
.id{
    background-color: rgb(122, 194, 159);
    width: 110%;
    align-items: center;
    /* column-gap: 5%; */
}
.id1{
    display: flex;
    column-gap: 8%;
    padding: 1% 2%;
    /* padding-left: 15%; */
    /* padding-right: 5%; */
    align-items: center;
    width:80%;
}
.mail{
   display: flex; 
   width: 80%;
   column-gap: 1%;
}
.para{
    width:80%;
}
.email{
    display: flex;
    width:80%;
}
button{
    background-color: black;
    color: white;
}
.border{
    padding:2% 2% 2% 2%;
    background-color: white;
    width:95%
}
.tables{
    display: flex;
    column-gap: 5%;
    width:100%;
}
.icons{
    display: flex;
}
.footer{
    display: flex;
    column-gap: 40%;
    width:100;
}
.img{
    width:50%;
    padding-left: 15%;
}
.anchor8:hover{
    color:green;
}

.anchor8{
    text-decoration: none;
    color:black;
}
.hey{
    width:90%;
    padding-left: 10%;
}
.hey1{
    width:90%;
}
/* .hello{
    padding:5% 10%;
} */