.section{
    height:100%;
    width: 70%;
    padding:5% 10%;
    padding-left: 15%;
}
.header1{
    background-color: white;
    width:60%;
    /* padding-left: 20%; */
}
.head{
    display:flex;
    padding:1% 1% 1% 2%;
    width:100%;
    column-gap: 4%;
    align-items: center;
}
.account{
    width: 125%;
    background-color: rgb(173, 175, 178);
    color: black;
    padding:1% 10% 1% 5%;
}

.anchor{
  text-decoration: none; 
  color: black; 
  font-size: larger;
}
.input{
    padding:1% 0% 1% 1%;

}
.input1{
    padding:1% 1% 1% 0%;

}
.search{
display: flex;
column-gap: 4%;
}
.account{
width: 25%;
background-color: rgb(173, 175, 178);
color: black;
padding:1% 70% 1% 5%;
}
.id{
    background-color: rgb(122, 194, 159);
    width: 100%;
    align-items: center;
}
.id1{
    display: flex;
    column-gap: 5%;
    padding: 1% 3%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    width:100%;
}
.mail{
   display: flex; 
   column-gap: 1%;
   width: 20%;
}
.email{
    display: flex;
}
button{
    background-color: black;
    color: aliceblue;
}
.border{
    padding:2% 2% 2% 2%;
    background-color: white;
    width:95%
}
.tables{
    display: flex;
    column-gap: 5%;
}
.icons{
    display: flex;
}
.footer{
    display: flex;
    column-gap: 80%;
}
.table{
    padding:3% 7%;
    width:94%;
    display: flex;
    column-gap: 5%; 
}
.tab1{
width:40%;
border:1px solid black;
height:50%;
padding:1%
}
.tab2{
    width:40%;
    border:1px solid black;
    height:75%;
    padding: 1%;
}
.button1{
    width:10%;
    background-color: rgb(9, 71, 33);
    color:aliceblue;
}
.button2{
    width:25%;
    background-color: rgb(9, 71, 33);
    color:aliceblue;
}
.login{
    text-align: start;
    font-size: large;
}
.anch{
    text-decoration: none;
color: aliceblue;
}
.img{
    width:50%;
    padding-left: 15%;
}

/* .anchor8:hover{
    color:green;
}

.anchor8{
    text-decoration: none;
    color:black;
} */
/* .data1{
    display: flex;
    column-gap: 5%;
    width:340%;
border:1px solid black;
}
.anchor1{
    text-decoration: none; 
  color: black; 
    font-size: medium;
}
 .data2{
    display: flex;
    column-gap: 5%;
    width:100%;
border:1px solid black;
}
.data3{
    display: flex;
    column-gap: 5%;
    width:340%;
border:1px solid black;
background-color: rgb(15, 120, 85);
}
.data4{
    display: flex;
    column-gap: 5%;
    width:100%;
border:1px solid black;
background-color: rgb(173, 175, 178);
} */

